<div class="grid">
  <div class="col-12">
    <div style="position: relative; border-color: transparent" class="card">
      <h5>Pcr's Created</h5>

      <button pButton pRipple style="position: absolute; top: 15px; right: 20px" (click)="createPcr()" type="button"
        label="New" class="p-button-rounded mr-2 mb-2"></button>

      <div style="margin-top: 20px" class="grid p-fluid">
        <div class="col-12">
          <div style="position:relative" class="card flex justify-content-between"
            *ngFor="let reward of pcrTokens;index as i">

            <h6 [ngStyle]="{ lineHeight: '2.5rem' }">
              <a (click)="goDetailsToken(reward)" class="p-link layout-topbar-button">
                <i style="color:var(--primary-color)" class="pi pi-eye"></i>
              </a> {{ reward.title }}
            </h6>
            <div>
              <div *ngIf="reward.displayStep == 0">
                <p [ngStyle]="{ lineHeight: '2.5rem' }">Period Qualifying. Rewals proposals {{reward.displayDate}}</p>
              </div>
              <div *ngIf="reward.displayStep == 1">
                <p [ngStyle]="{ lineHeight: '2.5rem' }">Period Waiting for Proposals</p>
              </div>
              <div *ngIf="reward.displayStep == 2">
                <p [ngStyle]="{ lineHeight: '2.5rem' }">Period Liveness Rewards can be executed after
                  {{reward.displayDate}}</p>
              </div>

              <div *ngIf="reward.displayStep == 3">
                <p [ngStyle]="{ lineHeight: '2.5rem' }">Period Waiting to be executed</p>
              </div>
            </div>
            <div class="flex align-items-center justify-content-end" [ngStyle]="{ width: '200px', height: '2.5rem' }">

              <div class="flex justify-content-center align-items-center">
                <p class="mr-2 mb-0">Reward: {{reward.rewardAmount}}</p>
                <img [width]="40" src="assets/images/tokens/{{reward?.fundToken?.image}}_icon.svg"
                  style="margin-right: 5px;" />
              </div>
            </div>
          </div>
          <div *ngIf="pcrTokens?.length == 0" class="card">
            <div class="grid flex flex-column align-items-center">
              <div class="flex justify-content-center align-items-center bg-pink-500 border-circle"
                style="height: 3.2rem; width: 3.2rem">
                <i class="pi pi-fw pi-exclamation-circle text-2xl text-white"></i>

              </div>
              <h1 class="text-900 font-bold text-5xl mb-2">Nothing Found</h1>
              <span class="text-600">Please create a new Perpetual Conditional Reward</span>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div style="position: relative; border-color: transparent" class="card">
      <h5>Pcr's Rewards Received</h5>
      <div style="position:relative" class="card flex justify-content-between"
      *ngFor="let membership of pcrMemberships">

      <h6 [ngStyle]="{ lineHeight: '2.5rem' }">
        <a (click)="goDetailsMembership(membership)" class="p-link layout-topbar-button">
          <i style="color:var(--primary-color)" class="pi pi-eye"></i>
        </a> {{ membership.title}}: <span style="color:var(--primary-color)">You have {{membership.units}} units</span>
      </h6>
      <div>
        <div *ngIf="membership.displayStep == 0">
          <p [ngStyle]="{ lineHeight: '2.5rem' }">Period Qualifying. Rewals proposals {{membership.displayDate}}</p>
        </div>
        <div *ngIf="membership.displayStep == 1">
          <p [ngStyle]="{ lineHeight: '2.5rem' }">Period Waiting for Proposals</p>
        </div>
        <div *ngIf="membership.displayStep == 2">
          <p [ngStyle]="{ lineHeight: '2.5rem' }">Period Liveness memberships can be executed after
            {{membership.displayDate}}</p>
        </div>

        <div *ngIf="membership.displayStep == 3">
          <p [ngStyle]="{ lineHeight: '2.5rem' }">Period Waiting to be executed</p>
        </div>
      </div>
      <div  class="flex align-items-center justify-content-end" [ngStyle]="{  height: '2.5rem' }">

        <div class="flex justify-content-center align-items-center">
          <p class="mr-2 mb-0">Current Index: {{membership.currentIndex}} per unit</p>
          <img [width]="40" src="assets/images/tokens/{{membership?.fundToken?.image}}_icon.svg"
            style="margin-right: 5px;" />
        </div>
      </div>

   
    </div>
      <div *ngIf="pcrMemberships?.length == 0" class="card">
        <div class="grid flex flex-column align-items-center">
          <div class="flex justify-content-center align-items-center bg-pink-500 border-circle"
            style="height: 3.2rem; width: 3.2rem">
            <i class="pi pi-fw pi-exclamation-circle text-2xl text-white"></i>

          </div>
          <!-- <h1 class="text-900 font-bold text-5xl mb-2"></h1> -->
          <span class="text-600">So far not subscription to perpetual rewards avaialble</span>
        </div>

      </div>
    </div>
  </div>
</div>