<div class="grid">
  <div class="col-12">
    <div style="position: relative; border-color: transparent" class="card">
      <h5>Pcr's Created</h5>

      <button pButton pRipple style="position: absolute; top: 15px; right: 20px" (click)="createPcr()" type="button"
        label="New" class="p-button-rounded mr-2 mb-2"></button>

      <div style="margin-top: 20px" class="grid p-fluid">
        <div *ngIf="toUpdateReward!== undefined" class="col-12">
      
            <div style="position: absolute;right: 25px;">
              <p-inputSwitch (onChange)="changeStatus($event.checked)" [(ngModel)]="toUpdateReward!.rewardStatus">
              </p-inputSwitch>
            </div>
            <h6>{{ toUpdateReward!.title }}</h6>
            <br />
            <textarea pInputTextarea placeholder="Your Message" [autoResize]="true"
              cols="30">{{ toUpdateReward!.displayCustomAncillaryData }}</textarea>
            <div style="margin-top: 20px" class="grid">
              <div class="col-12 lg:col-6 xl:col-6">
                <div style="background-color: var(--surface-ground);" class="card mb-0">
                  <div class="grid p-fluid">

                    <div class="col-12 flex align-items-center">
                      <div [style.background]="+toUpdateReward!.unitsIssued > 0? 'var(--green-500)':'var(--orange-500)'"
                        style="width:25px;height:25px;border-radius: 13px;background: lightgreen;"></div> <span
                        class="block text-500 font-medium ml-2"> Summary</span>
                    </div>
                    <!-- #region ISSUERS  ////  -->
                    <div class="col-4 text-center">

                      <div class="flex justify-content-between  flex-column mb-3">

                        <div class="text-900 font-medium text-xl">Members <br>
                          <span [class]="+toUpdateReward!.unitsIssued > 0? 'text-green-500' : 'text-orange-500' ">
                            {{toUpdateReward!.unitsIssued}}</span>
                        </div>
                      </div>
              


                    </div>

                    <!-- #endtrgion ISSUERS  ////  -->

                    <!-- #region INDEX ////  -->
                    <div class="col-4 text-center">
                      <div class="flex justify-content-between  flex-column mb-3">

                        <div class="text-900 font-medium text-xl">Index <br>
                          <span>
                            {{toUpdateReward!.currentIndex}}$/unit</span>
                        </div>
                      </div>
                    </div>
                    <!-- #endtrgion INDEX////  -->

                    <!-- #region TOTAL  ////  -->
                    <div class="col-4 text-center">
                      <div class="flex justify-content-between  flex-column mb-3">

                        <div class="text-900 font-medium text-xl">Distributed<br>
                          <span>
                            {{toUpdateReward!.totalDistributed}}</span>
                        </div>
                      </div>
                    </div>
                    <!-- #endtrgion INDEX////  -->
                    <button pButton pRipple style="position: relative;width:fit-content"
                    (click)="showAddMembers(toUpdateReward!)" type="button" label="Add"
                    class="p-button-rounded mr-2 mb-2"></button>
                  </div>
                </div>
              </div>
              <div class="col-12 lg:col-6 xl:col-6">
                <div style="background-color: var(--surface-ground);position:relative" class="card mb-0">
                  <div class="flex justify-content-between mb-3">
                    <div>
                      <div class="flex mb-3 align-items-center">
                        <div
                          [style.background]="+toUpdateReward!.rewardAmount<= +toUpdateReward!.currentdeposit ? 'var(--green-500)':'var(--orange-500)'"
                          style="width:25px;height:25px;border-radius: 13px;background: lightgreen;"></div> <span
                          class="block text-500 font-medium ml-2"> Deposit</span>
                      </div>
                      <div
                        [class]="+toUpdateReward!.rewardAmount<= +toUpdateReward!.currentdeposit ? 'text-green-500' : 'text-orange-500' "
                        class="text-900 font-medium text-xl">${{toUpdateReward!.currentdeposit}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center"
                      [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
                      <img src="assets/images/tokens/{{toUpdateReward!?.fundToken?.image}}_icon.svg"
                        style="margin-right: 5px;" />

                    </div>
                  </div>
                  <span class="font-medium">{{toUpdateReward!.rewardAmount}} </span>
                  <span class="text-500">Required Amount, please fund the Reward </span>
                  <br>
                  <button pButton pRipple style=" width:fit-content"
                  (click)="showFunding(toUpdateReward!)" type="button" label="Fund"
                  class="p-button-rounded mr-2 mb-2"></button>
                </div>
                </div>
       
            </div>

            <!-- ////// STATUS PROPOSAL -->

            <div style="position:relative;background-color: var(--surface-ground);"
              class="card mt-3 flex align-items-center flex-column justify-content-center">
           
              <!-- <div style="width:100%;" class="grid p-fluid">
                <p-steps class="col-12" [model]="routeItems" (activeIndexChange)="activeStep = 0"
                  [(activeIndex)]="activeStep" styleClass="mt-5" [readonly]="false"></p-steps>
              </div> -->
              <proposal-detail  (proposeValue)="proposeValue($event)" style="width:100%;" *ngIf="currentProposal !== undefined" [proposal]="currentProposal"></proposal-detail>
            </div>

            <!-- ////// CHARTSSS  -->
            <div style="margin-top: 20px" class="grid p-fluid">
              <div class="col-12 lg:col-6 xl:col-6">
                <div class="card">
                  <h5>Index Evolution</h5>
                  <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
                </div>
              </div>
              <div class="col-12 lg:col-6 xl:col-6">
                <div class="card">
                  <h5>Last Distributions</h5>
                  <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
                </div>
              </div>

            </div>

       
          <div *ngIf="toUpdateReward! == undefined" class="card">
            <div class="grid flex flex-column align-items-center">
              <div class="flex justify-content-center align-items-center bg-pink-500 border-circle"
                style="height: 3.2rem; width: 3.2rem">
                <i class="pi pi-fw pi-exclamation-circle text-2xl text-white"></i>

              </div>
              <h1 class="text-900 font-bold text-5xl mb-2">Nothing Found</h1>
              <span class="text-600">Please create a new Perpetual Conditional toUpdateReward!</span>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div style="position: relative; border-color: transparent" class="card">
      <h5>Pcr's toUpdateReward!s Received</h5>
      <div *ngIf="pcrTokens?.length == 0" class="card">
        <div class="grid flex flex-column align-items-center">
          <div class="flex justify-content-center align-items-center bg-pink-500 border-circle"
            style="height: 3.2rem; width: 3.2rem">
            <i class="pi pi-fw pi-exclamation-circle text-2xl text-white"></i>

          </div>
          <!-- <h1 class="text-900 font-bold text-5xl mb-2"></h1> -->
          <span class="text-600">So far not subscription to perpetual toUpdateReward!s avaialble</span>
        </div>

      </div>
    </div>
  </div>
</div>
<p-dialog header="Let's Add People!" [(visible)]="showIssuingState" [modal]="true" showEffect="fade"
  [style]="{width: '40vw'}" [breakpoints]="{'960px': '75vw'}">
  <p class="line-height-3 m-0">
    Please add the addresess <span style="color:green">"{{toUpdateReward?.title}}"</span> <br>
    It requires the {{toUpdateReward?.fundToken?.name}} superToken, your current balance is:
    {{toUpdateReward!?.fundToken?.superTokenBalance!}}. You may wamt to:
  </p>
  <h6>Members</h6>
  <p class="flex justify-content-between">
    <input [formControl]="adressesCtrl" pInputText type="text" placeholder="toUpdateReward! Name" />
    <button pButton icon="pi pi-check" label="Fund" (click)="doAddMember(toUpdateReward!)"
      class="p-button-outlined"></button>

  </p>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-check" label="Fund" class="p-button-outlined"></button>
  </ng-template>
</p-dialog>


<p-dialog header="Let's fund!" [(visible)]="showFundingState" [modal]="true" showEffect="fade" [style]="{width: '40vw'}"
  [breakpoints]="{'960px': '75vw'}">
  <p class="line-height-3 m-0">
    You are about to fund the PCR Token <span style="color:green">"{{toUpdateReward!?.title}}"</span> <br>
    It requires the {{toUpdateReward!?.fundToken?.name}} superToken, your current balance is:
    {{toUpdateReward!?.fundToken?.superTokenBalance!}}. You may wamt to:
  </p>
  <h6>Fund The PCR Token</h6>
  <p class="flex justify-content-between"
    *ngIf="+toUpdateReward!?.fundToken?.superTokenBalance! > +toUpdateReward!?.rewardAmount!">

    <p-inputNumber [formControl]="toFundAmountCtrl" placeholder="Amount" mode="decimal" [showButtons]="true" [min]="0">
    </p-inputNumber>
    <button pButton icon="pi pi-check" label="Fund" (click)="doFunding()" class="p-button-outlined"></button>

  </p>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-check" label="Fund" class="p-button-outlined"></button>
  </ng-template>
</p-dialog>